@charset "UTF-8";
@font-face {
    font-family: 'God of war';
    src: url('GODOFWAR.TTF') format('truetype');
}
body{
    margin: 0;
    padding: 0;
    font-family: 'God of war';
}
.menu{
    background: linear-gradient(#373737, #535353);
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.menu .logo{
    padding-top: 5px;
}
.menu nav a{
    text-decoration: none;
    padding: 5px;
    padding-inline: 15px;
    font-size: larger;
    color: #9e9e9e;
    border-left: 2px solid #535353;
    text-shadow: 0 0 1px #ffffff;
}
.menu nav .link1{
    border: none;
}
.menu .pesquisa{
    background: linear-gradient(#9e9e9e, #6e6e6e);
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.menu .pesquisa .barra{
    position: relative;
    left: 15px;
    border: none;
    background: none;
    outline: none;
    color: #373737;
}
.menu .pesquisa .barra::placeholder{
    color: #373737;
}
.menu .pesquisa a img{
    background: linear-gradient(#373737, #535353);
    padding: 5px;
    border-radius: 20px;
    position: relative;
    top: 2px;
    right: 3px;
}
.corpo section{
    font-size: 3vw;
    text-shadow: 0 0 2px #ffffff;
    display: flex;
    height: 90vh;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#9e9e9e, #373737);
}
.corpo section .seta1{
    position: absolute;
    top: 93vh;
    left: 1vw;
    transform: rotate(270deg);
    height: 15%;
    width: 10%;
}
.corpo section .seta2{
    position: absolute;
    top: 93vh;
    right: 1vw;
    transform: rotate(270deg);
    height: 15%;
    width: 10%;
}
.corpo section a{
    text-decoration: none;
    color: black;
    font-size: 4vw;
}
.corpo section h1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.corpo section h1 p:nth-child(2){
    color: #b70000;
    text-shadow: 0 0 2px #ffffff;
}
.corpo section:nth-child(1){
    background-image: url(fundoPrincipal.png);
    background-size: cover;
    background-attachment: fixed;
}
.corpo section:nth-child(3){
    background-image: url(god1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.corpo section:nth-child(5){
    background-image: url(god2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.corpo section:nth-child(7){
    background-image: url(god3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.corpo section:nth-child(9){
    background-image: url(god4.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.corpo section:nth-child(11){
    background-image: url(ragnarok.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-size: 4vw;
}
footer{
    height: 30vh;
    text-align: center;
    background: linear-gradient(#535353, #000000);
    color: #9e9e9e;
    text-shadow: 0 0 1px #ffffff;
}
footer .footer{
    padding-top: 5vh;
    font-size: 1.5vw;
}
footer .footer a{
    text-decoration: none;
    color: #9e9e9e;
}