@charset "UTF-8";
.container{
    display: flex;
}
.container div{
    border: 1px #ccc solid;
    padding: 10px;
}
.item-box-1{
    flex: 2;
    order: 2;
}
.item-box-2{
    flex: 1;
    order: 1;
}
.item-box-3{
    flex: 1;
    order: 3;
}